.SocialLink {
  left: 50%;
  bottom: 5%;
  position: fixed;
  width: 180px;
  margin-left: -90px;
}

.external-link {
  float: left;
  height: 60px;
  width: 60px;
}

.email-link {
  color: #000;
  font-size: 15px;
  text-decoration: none;
  font-family: 'Lato';
  font-style: italic;
  opacity: 0.6;
  -webkit-transition: opacity 0.1s ease-out;
}
